<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Buscador de series</title>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <header>
    <h1 class="title">Buscador de series</h1>
  </header>
  <main>
    <div class="search-engine">
      <label for="tv-search" class="main__label">Introduce aquí el nombre de una serie</label>
      <input type="text" class="search__input" id="tv-search">
      <button class="search__btn">Search</button>
      </main>
    </div>
    <div class="both-results">
        <ul class="main__results"></ul>
        <ul class="main__results-favorites">
          <h2 class="sub-title">Mis series favoritas</h2>
        </ul>
    </div>

  <script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>