$deepBlue: #041421;
$mediumBlue: #102F49;
$happyYellow: #C28611;
$deepGray: #0F101E;

$openSans: 'Open Sans', sans-serif;
$karla: 'Karla', sans-serif;
$narrow: 'Archivo Narrow', sans-serif;
$breeSerif: 'Bree Serif', serif;
$orbitron: 'Orbitron', sans-serif;
$russoOne: 'Russo One', sans-serif;